@font-size-logo: ceil((@font-size-base * 3.6)); // ~54px
@spinner-size: ceil((@font-size-base * 3.6)); // ~54px
@light-font-weight: 300; // normal - 400

body {
  background-image: url('/img/dark_wall.png');
  background-repeat: repeat;
  background-position: 0 0;
  font-family: 'Roboto', sans-serif;
  min-width: 300px;
}

a {
  text-decoration: none;
  font-weight: @light-font-weight;
  &:hover {
    text-decoration: none;
    font-weight: @headings-font-weight;
  }
}

header {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: @font-size-logo;
  text-transform: uppercase;
  line-height: @headings-line-height;
  margin-top: 10px;
}

/*​ Icons */

.icons {
  text-align: center;
  margin-top: 20px;
  a {
    display: inline-block;
    font-size: @font-size-h1;
    &:hover {
      text-decoration: none;
    }
    text-align: center;
  }
  a.flag {
    width: 100px;
  }
  a.fb {
    width: 70px;
  }
  a.mail {
    width: 70px;
  }
}

/* Navigation */

nav {
  margin: 20px 0 30px;
  h1, a {
    font-size: @font-size-h1;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: @line-height-base;
  }
  a.active {
    font-weight: @headings-font-weight;
  }
}

/* Thumbnails */

.thumb {
  margin: 0 auto 14px;
  position: relative;
  overflow: hidden;
  max-width: 270px;

  img {
    max-width: 100%;
    margin: 0;
    background-color: @gray-light;
  }

  img.lazy {
    min-height: 310px;
    display: none; // Hide it if js is turned off.
  }

  .cover-disable {
    .caption {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
        p {
          margin: 0;
        }
      }
  }

  .cover {
    position: absolute;
    background: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
    .caption {
      padding-top: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 5px;
      p {
        margin: 0;
      }
      a.title {
        font-size: @font-size-h2;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .icon {
      padding-top: 5%;
      font-size: ceil(@font-size-base*4);
    }
  }

  a {
    display: block;
    width: 270px;
    height: 320px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }

  a:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

/* Gallery arrows */

.mfp-container {
  min-width: 300px;

  .fa-arrow-circle-left, .fa-arrow-circle-right {
    position: absolute;
    top: 48%;
    font-size: 60px;
    color: #ABABAB;
    cursor: pointer;
    z-index: 1046;
    &:hover {
      color: #FBBF3A;
    }
  }
  .fa-arrow-circle-left {
    left: 0;
    margin-left: 20px;
  }
  .fa-arrow-circle-right {
    right: 0;
    margin-right: 20px;
  }

  .mfp-title {
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 0;
    line-height: 40px;
    color: #ABABAB;
    span.title {
      font-size: @font-size-h2;
    }
  }

  img.mfp-img {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mfp-bottom-bar {
    .mfp-close {
      position: fixed;
      right: 20px;
      top: 5px;
      width: 20px
    }
    .mfp-counter {
      position: fixed;
      left: 10px;
      top: 5px;
      font-size: 15px;
    }
  }
}

/* Image page */
#picture-wrapper {
  .imginfo {
    p {
      margin-top: -8px;
    }
  }

  .img-wrapper {
    &, i {
      display: none;
    }
    &.loading {
      i {
        display: inline;
        line-height: 320px;
        font-size: @spinner-size;
        color: @gray-lighter;
      }
      width: 270px;
      height: 320px;
      margin: 0 auto;
      background-color: @gray-light;
    }
  }

  noscript .img-wrapper {
    display: block;
  }
}

/* Footer */
.footer {
  padding-top: 20px;
  a {
    font-weight: normal;
  }
}

/* Error */
#error {
  margin: 50px auto;
  text-align: center;
}
